torchsummary==1.5.1
nvidia-cusparselt-cu12==0.6.3
pluggy==1.6.0
threadpoolctl==3.6.0
nvidia-cufft-cu12==11.3.0.4
seaborn==0.13.2
zipp==3.21.0
nest_asyncio==1.6.0
torchinfo==1.8.0
multidict==6.4.3
ptyprocess==0.7.0
nvidia-cusparse-cu12==12.5.4.2
debugpy==1.8.16
GitPython==3.1.45
pip==25.1
nvidia-curand-cu12==10.3.7.77
tabulate==0.9.0
einops==0.8.1
stringzilla==3.12.5
omegaconf==2.3.0
tomli==2.2.1
rasterio==1.4.3
PyYAML==6.0.2
jupyter_core==5.8.1
typing_extensions==4.12.2
six==1.17.0
termcolor==3.1.0
filelock==3.13.1
timm==0.4.12
jedi==0.19.2
triton==3.3.1
chardet==5.2.0
eval_type_backport==0.2.2
pytz==2025.2
ninja==1.11.1.4
scikit-learn==1.6.1
nvidia-nvtx-cu12==12.6.77
importlib_resources==6.5.2
idna==3.10
ipykernel==6.30.1
simsimd==6.2.1
tqdm==4.67.1
numpy==2.0.2
nvidia-cuda-cupti-cu12==12.6.80
click==8.1.8
Pygments==2.19.2
tensorboard==2.19.0
et_xmlfile==2.0.0
decorator==5.2.1
contourpy==1.3.0
affine==2.4.0
albumentations==2.0.6
annotated-types==0.7.0
hf-xet==1.1.0
albucore==0.0.24
pydantic==2.11.4
regex==2024.11.6
fsspec==2024.6.1
yarl==1.20.0
async-timeout==5.0.1
pydantic_core==2.33.2
pytest==8.4.1
jupyter_client==8.6.3
absl-py==2.2.2
wheel==0.45.1
pytorch-lightning==1.9.0
opencv-python-headless==4.11.0.86
nvidia-nccl-cu12==2.26.2
sentry-sdk==2.42.0
numpy==1.26.3
pexpect==4.9.0
platformdirs==4.3.8
jaxtyping==0.2.36
Jinja2==3.1.4
nvidia-nvjitlink-cu12==12.6.85
charset-normalizer==3.4.2
opencv-python==4.11.0.86
mpmath==1.3.0
nvidia-cudnn-cu12==9.5.1.17
Markdown==3.8
causal_conv1d==1.5.0.post8
matplotlib==3.9.4
kiwisolver==1.4.7
nvidia-cuda-nvrtc-cu12==12.6.77
antlr4-python3-runtime==4.9.3
zipp==3.23.0
fightingcv_attention==1.0.0
openpyxl==3.1.5
propcache==0.3.1
uv==0.8.22
joblib==1.5.2
yacs==0.1.8
torchvision==0.22.1
ipython==7.33.0
requests==2.32.3
nvidia-cublas-cu12==12.6.4.1
tensorboard-data-server==0.7.2
transformers==4.53.0
fvcore==0.1.5.post20221221
pyparsing==3.2.3
safetensors==0.5.3
cligj==0.7.2
submitit==1.5.3
click-plugins==1.1.1
matplotlib-inline==0.1.7
torchmetrics==1.7.1
torchaudio==2.7.1
mypy_extensions==1.1.0
pathspec==0.12.1
tokenizers==0.21.2
networkx==3.2.1
wandb==0.22.2
grpcio==1.71.0
prompt_toolkit==3.0.51
pickleshare==0.7.5
sympy==1.13.3
nvidia-cuda-runtime-cu12==12.6.77
aiosignal==1.3.2
hydra-core==1.3.2
segmentation_models_pytorch==0.5.0
tzdata==2025.2
ptflops==0.7.4
tornado==6.5.1
traitlets==5.14.3
certifi==2025.4.26
thop==0.1.1-2209072238
exceptiongroup==1.3.0
scipy==1.13.1
comm==0.2.3
pyzmq==27.1.0
python-dateutil==2.9.0.post0
cycler==0.12.1
protobuf==6.33.0
fonttools==4.58.0
MarkupSafe==2.1.5
GDAL==3.6.2
aiohttp==3.11.18
nvidia-cusolver-cu12==11.7.1.2
pandas==2.2.3
urllib3==2.4.0
parso==0.8.4
pillow==11.0.0
wcwidth==0.1.9
lightning-utilities==0.14.3
setuptools==72.1.0
portalocker==3.1.1
aiohappyeyeballs==2.6.1
platformdirs==4.2.2
pycocotools==2.0.8
natten==0.21.0+torch270cu126
mkl_fft==1.3.11
frozenlist==1.6.0
psutil==7.0.0
smmap==5.0.2
packaging==25.0
mkl_random==1.2.8
backcall==0.2.0
iniconfig==2.1.0
gitdb==4.0.12
huggingface-hub==0.31.1
importlib_metadata==8.7.0
iopath==0.1.9
cloudpickle==3.1.1
mkl-service==2.4.0
attrs==25.3.0
Werkzeug==3.1.3
selective_scan==0.0.2
black==25.1.0
typing-inspection==0.4.0
nvidia-cufile-cu12==1.11.1.6
torch==2.7.1
tensorboardX==2.6.4